<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../../css/style.css">
  <script src="/jquery.js"></script>
  <script src="/script.js"></script>
</head>
<body>
  <div class="container">
    <nav>
      <a href="/spa/spa">Saved Spas</a>
      <a href="/user/logout">Log Out</a>
    </nav>
      <h2>Search Spas</h2>
      <div class ="results">
      <form>
        <label>Lat:</label>
        <input type="text" id="lat-input" placeholder="Latitude" />
        <label>Long:</label>
        <input type="text" id="long-input" placeholder="Longitude" />
        <button type="submit" id="search">Submit</button>
      </form>
<!--       <div class="results">
      </div> -->
    </div>
</body>
</html>