<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>It's Spa Time!!!</title>
  <link rel="stylesheet" href="../../css/style.css">
  <script src="../../js/jquery.js"></script>
  <script src="../../js/script.js"></script>
</head>

<body>
	<div class="center-container">
  <div class="landingbutton">
		<h1> Sofie's Spa Time!!!!</h1>
    <h2> <br> Sometimes the most productive thing you can do is relax!!! </br> </h2>
      <form action="/user/login" class="user-form" method="POST">
        <label for="email">Email</label><br>
        <input id="email" type="text" name="user[email]" placeholder="john.doe@example.com"><br>
        <label for="password">Password</label><br>
        <input id="password" type="password" name="user[password]" placeholder="P4ssw0rd1234"><br>
       <button>Log In</button>
      <div>
         <a href="/user/new">Sign Up</a>
          </form>
      </div>
    </div>
  </div>    
    </body>
   </html>  